/* ADD FRIEND ---MODAL--- */

.add-friend {
	margin: 0 1.5% 10px 0;
	width: 8.6%;
}
.add-friend a {
	margin: 0;
	display: block;
}
.add-friend img {
	width: 100%;
	background-color: #222;
	display: block;
}
.add-friend .add-friend-content {
	position: relative;
}

.last-item {
	margin-right: 0;
}
.add-friend i.fa {
	position: absolute;
	display: block;
	width: 100%;
	font-size: 48px; 
	vertical-align: middle;
	line-height: 101px;
	text-align: center;
	color:#428bca;
}
/* /add-friend */
