body{
	padding: 80px 0;
}
.navbar-default li a {
	text-transform: uppercase;
}
#nav-main-member {
	z-index:1000;
}
#nav-subnav-member {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	/*z-index: 500;*/
}
#nav-subnav-member .infos-project {
	padding-left: 0;
}
#nav-subnav-member .infos-project .fa{
	font-size: 24px;
	line-height: 40px;
}
.thumbnail.partner {
	margin-bottom:0;
}
#clients-banner ul{
	padding-left: 0;
	list-style: none;
	margin: 10px;
}
#clients-banner img{
	min-height: 40px;
}
#home-slide img {
	max-height: 520px;
	/*width: 100%;*/
}

#carousel-home {
	margin-bottom: 80px;
}

.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li{
	border: 2px solid #505050;
}
.carousel-indicators li.active {
}
#home-services .row {
	/*margin-bottom: 80px;*/
}

#home-services .lead {
	margin-bottom: 5px;
}

/* Margin classes */
.margin-xs-top {
	margin-top:30px;
}
.margin-xs-left {
	margin-left:30px;
}
.margin-xs-right {
	margin-right:30px;
}
.margin-xs-bottom {
	margin-bottom:30px;
}
.margin-md-top {
	margin-top:60px;
}
.margin-md-bottom {
	margin-bottom:60px;
}
.margin-xl-top {
	margin-top:90px;
}
.margin-xl-bottom {
	margin-bottom:90px;
}
.margin-xs-top-bottom {
	margin-top:15px;
	margin-bottom:15px;
}
.margin-md-top-bottom {
	margin-top:30px;
	margin-bottom:30px;
}
.margin-xl-top-bottom {
	margin-top:45px;
	margin-bottom:45px;
}
/* /margin classes */

section.section {
	margin-bottom: 30px;
}
.no-padding{
	padding:0;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-margin {
	margin:0;
}

.separator {
	padding: 4px 0px 5px 0;
	clear:both;
	float:none;
	width: 100%;
	border-top: 1px solid #eeeeee;
}
/* .navbar .col-md-3:last-child {
	position:relative;
	clear:right;
	} */
	/* footer */
	#footer #nav-footer {
		padding: 30px 0;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}
	#footer .navbar ul{
		margin:0;
	}
	#footer .navbar {
		border-top:  1px solid #eeeeee;
	}
	#footer #nav-footer .panel-title {
		padding:10px 0;
		text-transform: uppercase;
	}
	#footer #nav-footer li.list-group-item{
		border:0;
		padding:5px 15px;
	}
	/* /footer */

	#inscription-modal {
		width: 100%;
		height:100%;
		background-color: rgba(50,50,50,0.9);
	}
	#home-services .signup {
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		padding: 30px 0;
	}
	#nav-main .nav-main-items .nav-items-first:hover{
		background-color: #eeeeee;
	}
	#signin-modal, #signup-modal {
		overflow-y:auto;
	}

	#nav-main-member .form-group {
		padding-left:0;
		padding-right:0;
		margin-right:0;
	}
	#nav-main-member .form-group input{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	#nav-main-member .input-group-btn {
		padding-left: 0;
	}
	.drop-item i {
		width:20%;
	}
	.drop-item span {
		width:60%;
	}


/*****************************
Listing Page
*****************************/

/*__Listing Projects__*/
#projects {
	border:0;
}
#projects .panel-heading {
	background-color: #f5f5f5;
}
#projects .panel-heading .badge {
	/*background-color: #fff;*/
	/*color:#428bca;*/
}
#projects #btn-add-project {
	padding:0;
}
#projects .fa-plus {
	/*color:#428bca;*/
}
#projects .project-title{
	padding: 0;
}
#projects .panel-title{
	color: #428bca;
}
#projects .panel.panel-default .panel-heading:hover span,
#projects .panel-active .panel-title{
	color: #fff;
}
#projects .panel.panel-default {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-top:0;
	/*margin-bottom: -1px;*/
}
#projects .panel-heading.projects-title {
	background-color: #f5f5f5;
}
#projects .panel-heading {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 15px 10px;
	background-color: rgb(255,255,255);
	cursor: pointer;
}
#projects .panel-heading,
#projects .panel-title {
	width: 100%;
}
#projects #btn-new-project {
	margin: 10px 0;
}
#projects .panel-heading:hover {
	background-color: #c5c5c5;
}
#projects .panel-heading:hover a{
	color:#fff;
}
#projects .new-project .panel-heading {
	background-color: #fff;
}
#projects .progress{
	margin-bottom: 0;
}
#projects .panel.panel-default.new-project .panel-heading:hover {
	background-color: rgb(255,255,255);
	cursor: default;
} 
#projects .panel-heading .col-lg-3,
#projects .panel-body .col-lg-3 {
	padding-right: 0;
}
#projects-heading,
#projects-heading li{
/* 	-webkit-border-bottom-left-radius: 0;
-moz-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-bottom-right-radius: 0;
border-bottom-right-radius: 0; */
border:0;
}
#projects-heading h4 {
	border-bottom: solid 2px #e3e3e3;
	padding-bottom: 10px;
}
#projects .panel-body {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	color: #428bca;
	cursor: default;
	width: 100%;
}
#projects .panel-body .list-group-item:hover {
	color: #fff;
}
#projects .panel-active {
	background-color: #f5f5f5;
}
/*#projects .panel-active:hover .progress,*/
#projects .panel-body .progress{
	border: solid 2px #fff;
}
#projects .list-group-item:hover .progress{
	border: solid 2px #c5c5c5;
}
#projects .panel-heading:hover .progress{
	/*border: solid 2px #f5f5f5;*/
}
#projects .panel-active,
#projects .panel-active:hover {
	background-color: #c5c5c5;
}
#projects .panel.panel-default .panel-active a{
	color:#fff;
}
#projects .panel-body .list-group-item:hover {
	background-color: #c5c5c5;
}
#projects .panel-body .list-group-item:hover a{
	color: #fff;
}

/*__/listing projects__*/

/* avatar - profil */

#avatar-profil ul {
	margin:0;
}
.avatar li {
	position: relative;
	border:0;
}
#avatar-profil img {
	width: 100%;
}
#avatar-profil .edit-avatar {
	opacity:0;
}
#avatar-profil ul:hover .edit-avatar {
	opacity: 1;
	-webkit-transition: opacity 1000ms ;
	-moz-transition: opacity 1000ms ;
	-ms-transition: opacity 1000ms ;
	-o-transition: opacity 1000ms ;
	transition: opacity 1000ms ;
}
#avatar-profil figcaption h2{
	margin-top:0;
	margin-bottom: 5px;
}
#avatar-profil .edit-avatar a {
	bottom: 0em;
	z-index:1;
	position: absolute;
	width: 100%;
	border-top-left-radius:0;
	border-top-right-radius:0;
	background-color: rgba(255,255,255,0.8);
}


/* /avatar - profil */

/*__/listing page__*/



#page-listing {
	padding-top: 50px;
}

#page-translation {
	padding-top: 110px;
}
#member-main {
}
/* #nav-subnav-member {
	-moz-box-shadow: 0px 5px 5px 3px #c5c5c5;
-webkit-box-shadow: 0px 5px 5px 3px #c5c5c5;
box-shadow: 0px 5px 5px 3px #c5c5c5;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 10, direction = 180, color = '#c5c5c5');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 10, Direction = 180, Color = '#c5c5c5')";
Shadows look very different in IE (Only cardinal directions supported)
INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES
Element should have a background-color
All filters must be placed together
IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS
IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS

} */


#translation-document {
	margin-bottom: 180px;
}
#translation-document tbody tr {
	/*margin-bottom: 10px;*/
	/*border-collapse: separate;*/
	/*border:10px solid #fff;*/
}
#translation-document td{
	padding: 10px 15px;
	cursor: pointer;
	font-size: 15px;
}
#translation-document .table-striped>tbody>tr:nth-child(odd) td{
	background-color: #f5f5f5;
}
#translation-document .table-striped>tbody>tr:hover blockquote{
	border-left-color: #fff;
}
#translation-document .table-striped>tbody>tr:hover td {
	background-color: #428bca;
	color: #fff;
}
#translation-document .table-striped>tbody>tr:hover .text-primary {
	color: #fff;
}
#translation-document blockquote{
	border-left-color: #428bca;
	padding: 5px 15px;
}
#translation-document tbody tr td:first-child {
	/*border-right: 2px dashed #222 ;*/
	/*padding-left: 0;*/
}
#translation-document thead td {
	color: #222;
}
#translation-document tbody tr td:last-child {
	/*border-left: 3px dashed #222 ;*/
	padding: 15px 20px ;
}
#translation-document .table-striped>tbody>tr:nth-child(odd) td.tdClick, #translation-document .tdClick {
	background-color: #428bca;
	color: #fff;
}

#translation-document .table-striped>tbody>tr:nth-child(odd):hover td.tdClick {
	background-color: #f5f5f5;
	color:#222;
} 
#translation-document .table-striped>tbody>tr:nth-child(odd):hover td.tdClick blockquote{
	border-color: #428bca;
	color:#222;
}  

#translation-document .table-striped>tbody>tr:nth-child(even):hover td.tdClick {
	background-color: #fff;
	color: #222;
} 
#translation-document .table-striped>tbody>tr:nth-child(even):hover td.tdClick blockquote{
	border-color: #428bca;
	color:#222;
} 
#translation-document .tdClick {
	background-color: #428bca;
	color: #fff;
}

#translation-document .tdClick blockquote{
	color: #fff;
	border-color:#fff;
}

.table-striped>tbody>tr:nth-child(odd)
{

}
.no-padding-left-xs {
	padding: 0;
	padding-left: 20px;
}


#translation-bar .well {
	padding: 8px;
}
#translation-bar .well blockquote{
	padding: 5px 10px;
	cursor: default;
}
#translation-bar {
	height: 33%;
	background-color: #222;
	padding: 10px;
	-moz-box-shadow: 0px 0px 10px 6px #c5c5c5;
	-webkit-box-shadow: 0px 0px 10px 6px #c5c5c5;	
	box-shadow: 0px 0px 10px 6px #c5c5c5;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
}
#translation-bar .side-left {
	color:#fff;
	height: 100%;
}
#translation-bar .translation-bar-main, #translation-bar .translation-bar-main form, #translation-bar .translation-bar-main .form-group{
	height:100%;
}
#translation-bar .well {
	margin-bottom: 0;
}
#translation-bar textarea {
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}
.wellcontent {
	height:25%;
}
.textareacontent {
	height:75%;
}
#translation-bar .side-right {
	height: 100%;
}
#translation-bar .side-right .tab-content .list-group {
	height:100%;

}
#translation-bar .side-right .tab-content .list-group-item{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#translation-bar .side-right .tab-pane{
	max-height:100%;
	overflow: overlay;
	width: 100%;
}
#translation-bar .side-right .tab-content{
	height:80%;
}
#translation-bar .side-right .nav-content {
	height: 20%;
	width: 100%;
}
#translation-bar .side-right .panel{

}

#translation-bar .well {
	color: #222;
	background-color: #e5e5e5;
}
#translation-bar textarea{

	}#translation-bar .translation-bar-main {
		height: 100%;
	}

	#page-translation .navbar-inverse .navbar-nav a{
		padding: 10px;
		height: 60px;
		line-height: 40px;
	}
	#page-translation .navbar-inverse .navbar-nav.friends-avatars a{
		padding: 10px 0 10px 5px;
	}

	.nav.navbar-nav.friends-avatars {

	}
	#page-translation .nb-segments a, #page-translation .friends-avatars .fa {
		color:#428bca;

	}
	#page-translation .navbar-inverse .navbar-nav>li>a {

	}
	.friends-avatars li:last-child{
		font-size: 24px;
		color: #428bca;
	}
	.friends-avatars a{
		padding: 10px 5px 10px 0px;
	}
	.friends-avatars img {
		height:40px;
		width:40px;
		background-color: #222;
	}

	.friends-avatars img.offline {
		opacity: 0.5;
		border-color: #111;
	}

	/* ADD FRIEND ---MODAL--- */

	.add-friend {
		margin: 0 1.5% 10px 0;
		width: 18.8%;
	}
	.add-friend a {
		margin: 0;
		display: block;
	}
	.add-friend img {
		width: 100%;
		background-color: #222;
		display: block;
	}
	.add-friend .add-friend-content {
		position: relative;
	}

	.last-item {
		margin-right: 0;
	}
	.add-friend i.fa {
		position: absolute;
		display: block;
		width: 100%;
		font-size: 48px; 
		vertical-align: middle;
		line-height: 101px;
		text-align: center;
		color:#428bca;
	}
	/* /add-friend */

	.hover-hide {
		opacity: 0;
	}
	.hover-hide:hover {
		opacity: 1;
		opacity: 1;
		-webkit-transition: opacity 250ms ;
		-moz-transition: opacity 250ms ;
		-ms-transition: opacity 250ms ;
		-o-transition: opacity 250ms ;
		transition: opacity 250ms ;
		background-color: rgba(22,22,22,0.8);
	}

	.title-project {
		padding:0;
	}
	#translation-document .left-click td:first-child blockquote  {
		color: #fff;
		border-color: #fff;
	}
	#translation-document .left-click td:first-child, #translation-document .left-click tr:nth-child(odd) td:first-child{
		background-color: #428bca;
		color:#fff;
	}
	#translation-document .right-click td:last-child, #translation-document .right-click tr:nth-child(odd) td:last-child{
		background-color: #428bca;
		color: #fff;
	}

	#translation-document .left-click tbody tr:nth-child(odd):hover td,
	#translation-document .right-click tbody tr:nth-child(odd):hover td {
		background-color: #f5f5f5;
		color:#222;
	} 
	#translation-document .left-click tbody tr:nth-child(odd):hover td blockquote, 
	#translation-document .right-click tbody tr:nth-child(odd):hover td blockquote {
		background-color: #f5f5f5;
		color:#222;
		border-color: #428bca;
	}
	#translation-document .left-click tbody tr:nth-child(even):hover td,
	#translation-document .right-click tbody tr:nth-child(even):hover td {
		background-color: #fff;
		color:#222;
	} 
	#translation-document .left-click tbody tr:nth-child(even):hover td blockquote,
	#translation-document .right-click tbody tr:nth-child(even):hover td blockquote {
		background-color: #fff;
		color:#222;
		border-color: #428bca;
	}
	#translation-document tbody>tr:nth-child(odd).trClicked td,
	#translation-document tbody>tr:nth-child(odd).trClicked td blockquote,
	#translation-document tbody>tr:nth-child(even).trClicked td,
	#translation-document tbody>tr:nth-child(even).trClicked td blockquote,

	#translation-document tbody>tr#actual-segment:nth-child(odd) td,
	#translation-document tbody>tr#actual-segment:nth-child(odd) td blockquote,
	#translation-document tbody>tr#actual-segment:nth-child(even) td,
	#translation-document tbody>tr#actual-segment:nth-child(even) td blockquote {
		background-color: #428bca;
		color: #fff;
		border-color: #fff;
	}

	/* SCROLL TOP DOCUMENT */

	#scrollTop {
		display: none;
		position:fixed;
		z-index:10000;
	}
	#scrollTop a {
		opacity: 0.8;
		display: block;
		height:60px;
		width:60px;
		background-color: #428bca;
		text-align: center;
		position: relative;
		text-decoration: none;
		color: #fff;
	}
	#scrollTop a:hover {
		opacity:1;
		-webkit-transition: opacity 250ms ;
		-moz-transition: opacity 250ms ;
		-ms-transition: opacity 250ms ;
		-o-transition: opacity 250ms ;
		transition: opacity 250ms ;
	}
	#scrollTop i.fa {
		font-size: 29px;
		width: 60px;
		position: absolute;
		top:0;
		left:0;
	}
	#scrollTop i:last-child {
		font-size: 16px;
		width: 60px;
		top: 29px;
		position: relative;
	}
	/* /scroll top document */

	.show {
		display: block;
	}


	#num-segment {
	}



	@media (min-width: 1200px) {

	}

	@media (min-width: 768px) {
	}
	/* 768 et 1200*/

	.segment-blokquote {

	}

	#translation-document tbody tr {
		height: auto;
	}
	.borderquote {
		display:block;
		height: 100%;
		min-height: 100%;
		padding-left: 15px;
		height: auto;
		border-left: solid 5px #428bca;
	}
	.borderquote:hover {
		border-color: #eeeeee;
	}
	#translation-document tbody td.col-lg-6{
		height: 100%;
		padding: 10px 15px;
		/*padding: 10px 15px;*/
	}
	#translation-document tbody td.col-lg-6:first-child {
		/*border-left: solid 4px #428bca;*/
	}
	#translation-document tbody td.col-lg-6:last-child {
		padding: 15px 10px;
	}
	.table, .tr, .tr-wrap, .td {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.table {
		width: 100%;
		float:left;
	}
	.tr {
		width: 100%;
		float:left;
		padding: 10px 15px;
		cursor: pointer;
		border-top: 1px solid #ddd;
	}
	.tr-wrap {
		border-left: solid 5px #428bca;
		float:left;
		width: 100%;
	}
	.td {
		height: auto;
		padding: 5px 15px;
		font-size: 15px;
	}
	.td:first-child {
		padding-left: 15px;
	}
	.td:last-child {
		padding-right: 20px;
	}
	.tr:nth-child(odd){
		background-color: #f5f5f5;
	}

	#translation-document .tr.tr-active:nth-child(odd),
	#translation-document .tr.tr-active:nth-child(even){
		background-color: #428bca;
		color: #fff;
	}
	#translation-document .tr.tr-active:nth-child(odd) .tr-wrap,
	#translation-document .tr.tr-active:nth-child(even) .tr-wrap{
		border-color: #f5f5f5;
	}

	#translation-document .tr:hover {
		background-color: #428bca;
		color: #fff;
	}
	#translation-document .tr:hover .tr-wrap{
		border-color: #f5f5f5;
	}
