
@media screen and (max-width: 840px){
	#avatar-profil h2 {
		font-size: 24px;
	}
	#avatar-profil .img-thumbnail {
		-webkit-border-bottom-left-radius: 0;
		-moz-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#avatar-profil .edit-avatar {
		opacity: 1;
	}
	#avatar-profil .edit-avatar a{
		position: relative;
	}

	/* 
	#page-listing #member-main .col-lg-8{
		float:right;
	}
	
	*/
	#page-listing #member-main .col-lg-4{
		.pull-right();
	} 
}
@media screen and (max-width: 480px){
}